	<header>

      <div class="header-image-container">
        <img src="/lookAtLogo.png" alt="Look At This Thing! logo">
      </div>

      <h1 class="site-title"><a href="/">Look at this Thing!</a></h1>

    </header>