	{{> header}}
    <main class="content">
      <section id="posts">
			{{>post}}
      </section>
	  <div id="post-vote-container">
			<div id = "post-upvote">▲</div>
			<div id = "post-downvote">▼</div>
	  </div>
    </main>